OPEN_API_KEY="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"
LANGCHAIN_API_KEY="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"
LANGCHAIN_PROJECT="pr-scholarly-oatmeal-52"
GROQ_API_KEY="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"
HF_TOKEN= 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
